{% extends "base.html" %}

{% block head %}
    <title>General Kenobi</title>
{% endblock %}

{% block body %}
    <h1 style="text-align: center">Hello There</h1>
    <h2 style="text-align: center"><a href="/quote/">Give me a quote</a> </h2>
    <br>
    <h2 style="text-align: center"><a href="/addQuotePage/">Add a new quote!</a></h2>
    <h2 style="text-align: center"><a href="/quotePinCheckPage/">Edit the list of quotes (mod only)</a></h2>
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <br>#}
{#    <p>Made with <i>hate for javascript</i></p>#}
{% endblock %}